### Exercise 4 a

In [72]:
import random
import numpy as np
import pandas as pd

In [2]:
def bernoulli(p):
 if random.random() < p:
     return 1
 else:
     return 0

In [6]:
for i in range(1,11):
    print(bernoulli(0.5))

0
0
1
1
0
0
1
0
1
1

## TODO: find mean of ten runs

### Exercise 4 b

In [28]:
def bin_exper(n, p):
    i = 0
    for x in range(n):
        if bernoulli(p) == 1:
            i = i + 1
    return i

In [29]:
bin_exper(10, 0.5)

5

In [30]:
tot = 0
for x in range(20):
    tot = tot + bin_exper(10, 0.5)
print("out of a total of 20*10 runs, the total successes were:",tot)

out of a total of 20*10 runs, the total successes were: 106

### Exercise 4 c

In [69]:
def bin_freqs(m, n, p):
    totSuc = np.zeros(m, dtype=int)
    for i in range(m):
        totSuc[i] = bin_exper(n, p)
    
    relFreq = np.zeros(n, dtype=float)
    for i in range(n):
        relFreq[i] = list(totSuc).count(i)/m
    
    return relFreq
    
#    tot = 0
#    for x in range(m):
#        tot = tot + bin_exper(n, p)
#    return tot/(m*n)

In [70]:
bin_freqs(20, 10, 0.5)

array([0. , 0. , 0. , 0.1, 0.3, 0.3, 0.2, 0.1, 0. , 0. ])

### Exercise 4 d
Fix p=0.5 and n=8 and see what happens when m varies. Run bin_freqs(m, n, p) for m= 4, 10,
100, 1000, 10000. Report the results in a (69) table where you also include the values for
the *theoretical distribution* binom_pmf(m, n, p) from exercise (1)

In [53]:
# This is taken from Exercise 3. 
def factor(n):
    if n>0:
        return n*factor(n-1) if n>1 else 1
    else:
        return 1
def binom(m, n):
    if n >= m and m >= 0:
        return factor(n)/(factor(m)*(factor(n-m)))
def binom_pmf(k, n, p):
    return binom(k, n)*p**k*(1-p)**(n-k) if n >= k and k >= 0 and 1 >= p and p >= 0 else 0

In [75]:
ml = [4,10,100,1000,10000]
n = 9
p = 0.5

data = []
for m in ml:
    data.append(bin_freqs(m, n, p))

bin_pmf = []
for i in range(n):
    bin_pmf.append(binom_pmf(i, n, p))

table = pd.DataFrame(data)
table.append({i:bin_pmf[i] for i in range(len(bin_pmf))}, ignore_index = True)

#the rows index indicate the index of the list [4,10,100,1000,1000]
#while the coulns is the corrseponding frequency of the successes at k = index+1
#the last row is the theoretical distribution from exercise 3.

,0,1,2,3,4,5,6,7,8
0,0.000000,0.250000,0.000000,0.000000,0.500000,0.250000,0.000000,0.000000,0.000000
1,0.000000,0.000000,0.000000,0.200000,0.100000,0.400000,0.300000,0.000000,0.000000
2,0.000000,0.060000,0.060000,0.120000,0.300000,0.240000,0.130000,0.080000,0.010000
3,0.004000,0.022000,0.060000,0.172000,0.272000,0.220000,0.155000,0.075000,0.020000
4,0.001700,0.019800,0.067400,0.168400,0.244000,0.240800,0.166200,0.071700,0.018600
5,0.001953,0.017578,0.070312,0.164062,0.246094,0.246094,0.164062,0.070312,0.017578